clearfix()
  zoom 
  &:after,&:before
    content " "
    display table
  &:after
    clear both
list-inline()
  margin 0
  padding 0
  li
    display inline-block
to-xs()
  @media (min-width 280px)
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    {block}
to-sm()
  @media (max-width 480px)
    {block}
to-md()
  @media (max-width 768px)
    {block}
to-lg()
  @media (max-width 992px)
    {block}
to-xl()
  @media (max-width 1200px)
    {block}