section.method
  .container
    .desc-method
      h3 Nuestra metodología
      p A través de la elaboración de un modelo financiero, analizamos junto contigo el modelo de negocio para tu empresa o emprendimiento. Con ello podremos determinar, por ejemplo:
      ul.list-method
        li Los productos o servicios más rentables
        li Los productos o servicios más 
        li Los productos o servicios más rentables
        li Los productos o servicios más 
        li Los productos o servicios más rentables
        li Los productos o servicios más 
        li Los productos o servicios  
    .img-method
      figure(title="Nuestra metodología")
        img(src="assets/images/725x468.png", alt="Nuestra metodología", title="Nuestra metodología")
section.team
  .container
    .title-team
      h3 Te ofrecemos un equipo senior de consultores
      p con amplia experiencia en finanzas corporativas y estrategia, dedicados de forma exclusiva. 
    .carousel-team
        ul.list-team.js-carousel-team.owl-carousel
          li
            figure
              img(src="assets/images/280x295.png", alt="Gerente", title="Gerente")
            h4 
              strong Rodrigo Cruz B. 
              span Gerente General
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip sequat.
          li
            figure
              img(src="assets/images/280x295.png", alt="Gerente", title="Gerente")
            h4 
              strong Rodrigo Cruz B. 
              span Gerente General
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip sequat.
          li
            figure
              img(src="assets/images/280x295.png", alt="Gerente", title="Gerente")
            h4 
              strong Rodrigo Cruz B. 
              span Gerente General
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip sequat.
          li
            figure
              img(src="assets/images/280x295.png", alt="Gerente", title="Gerente")
            h4 
              strong Rodrigo Cruz B. 
              span Gerente General
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip sequat.