footer
  script(src="js/main.js")
  // Google Analytics: change UA-XXXXX-Y to be your site ID.
  script  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date; ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
  script(src="https://www.google-analytics.com/analytics.js" async defer)