head
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible" content="ie=edge")
  title Page Title
  meta(name="description" content="")
  meta(name="viewport" content="width=device-width, initial-scale=1")

  link(rel="apple-touch-icon" href="apple-touch-icon.png")
  link(rel="stylesheet" href="css/main.css")

  script(src="js/main.js")