header
  .container
    h1.logo
      a(href="#")
        figure(title="Staff Creativa")
          img(src="assets/images/logo.png",title="Staff Creativa",alt="Staff Creativa")
    nav.main-menu
      .js-btn-menu.btn-menu Menu
      ul
        li.btn-us
          a(href="#") Nosotros
        li.btn-service
          a(href="#") Servicios
        li.btn-blog
          a(href="#") Blog
        li.btn-contact
          a(href="#") Contacto
  include main-banner.pug
