section.main-banner
  .container
    article.desc-banner
      h2
        strong Nuestro objetivo: 
        span incrementar el valor de tu negocio
      p En SVC entendemos que los negocios extraordinarios se crean en las líneas que están por encima de la utilidad operativa dentro del estado de resultados, es decir, en el espacio donde la estrategia y la consultoría enfocada en el valor cobran relevancia