//header
header
  background #111111
  nav
    &.active
      ul
        +to-sm()
          display block!important
    &.main-menu
      float right
      text-align right
      +to-sm()
        display block!important
        width 100%
        padding 10px
      ul
        +to-sm()
          display none
        margin 0
        padding 0
        li
          display inline-block
          +to-sm()
            display block!important
            text-align center
          a
            display inline-block
            height 75px
            padding 30px 47px
            color white
            text-decoration none
          &:hover
            background black
            border-bottom 5px solid #3FD4AD
            height 75px
  .btn-menu
    color black
    text-align center
    display none
    background white
    padding 15px
    +to-sm()
      display block!important
      width 100%
  h1
    max-height 73px
    overflow hidden
    &.logo
      display inline-block
      padding 0
      margin 0
      +to-sm()
        display block!important
      figure
        position relative
        top -15px
        display inline-block
        padding 0
        margin 0