* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family 'arial'
}
body
  font-family 'arial'
  .container
    max-width 1170px
    margin 0 auto
    clearfix()
    +to-lg()
      width 100%
      max-width 900px
    +to-md()
      width 100%
      max-width 620px