//main-banner
section
  &.main-banner
    min-height 600px
    min-width 100%
    background url('../assets/images/banner.jpg') center center
    background-size cover
    color white
    clearfix()
    .desc-banner
      float right
      width 50%
      padding 0 16px
      margin 140px 0 70px 0
      overflow hidden
      +to-md()
        width 100%
        margin 2em 0 .75em 0
      h2
        font-size 50px
        line-height 1em
        font-weight bold
        padding 0 0 .75em 0
        position relative
        &:after
          content:"";
          position: absolute;
          bottom: -0.5em;
          left: 0;
          right: 0;
          height: 0.5em;
          border-top: 1px solid #F2F2F2;
          width 680px
          +to-md()
            width 100%
        strong
          font-size 40px
      p
        font-size 16px
        line-height 1.8em