.home
  section
    clearfix()
    width 100%
    &.method
      clearfix()
      .desc-method
        +to-md()
          width 100%
          margin 2em 0 .75em 0
        width 50%
        padding 0 15px
        float left
        margin 0
        h3
          font-size 22px
          margin 70px 0 25px 0
        p
          font-size 15px
          margin 0 0 35px 0
        ul
          &.list-method
            margin 0 0 0 18px
            padding 0
            li
              font-size 15px
              padding 0 0 22px 0
      .img-method
        +to-md()
          width 100%
          margin 2em 0 .75em 0
        width 50%
        float right
        padding 0 15px
        margin 70px 0
        figure
          img
            max-width 100%
    &.team
      .title-team
        max-width 500px
        margin 0 auto
        text-align center
        h3
          margin 20px auto 14px
          font-size 17px
        p
      .carousel-team
        ul
          &.list-team
            list-style none
            margin 0
            padding 0 10px
            li
              margin 30px
              figure
                img
                  max-width 100%
              h4
                margin 0 0 5px 0
                padding 0
                strong
                  font-weight normal
                  display block
                span
                  font-weight normal
                  font-size 14px 
                  display block
              p 
                font-size 14px